.container {
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.nav {
   
   
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;

   
}
.links {
    font-family: monospace;
    font-weight: bold;
    color: rgb(93, 91, 91);
    text-decoration: underline;
    position: absolute;
    top: 30px;
    right: 16px;
    padding-right: 20px;

}